<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <link href="../include/estilo.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <br>
        <br>
        <br>
        <center>
            <table border="0" cellpadding="8" cellspacing="1" width="450">
                <tr>
                    <td align="center" bgcolor="Maroon"><font color="orange" size="4"><b>Alerta ! </b></font></td>
                </tr>
                <tr valign="top">	
                    <td bgcolor="White">
                        <center>
                        <font color="Gray">
                            El sistema cerro la sesión por seguridad o por que no cuenta 
                            con los suficientes permisos. Le sugerimos que vuelva a iniciar una nueva sesión.<br><br>
                            GRACIAS		
                            <br>                            
                            <a href="javascript:top.window.document.location='../../index.php'">INICIO</a> | 
                            <a href="javascript:history.back()">REGRESAR</a>                        
                        </font>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="Maroon">
                        <font color="Gray">Para cualquier información relacionada con el sistema, comuniquese con el administrador del sistema.</font>
                    </td>
                </tr>
            </table>
        </center>

    </body>
</html>
