<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>	
        <link href="../include/estilo.css" rel="stylesheet" type="text/css">	
        <script src="../include/funcionesG.js" language="javascript"></script>
    </head>
    <body>        
        <p>
        <center><h2>INFORMACIÓN</h2></center>
        <hr>

        <table border="0" width="600" align="center">
            <tr>
                <td>
                    <pre>
                        EDI FACTORY es una aplicación web a la que podrá ingresar desde cualquier equipo con acceso
                        a internet sin necesidad de instalar ningún software, es una potente herramienta capaz de transformar
                        un formulario en Excel (similar al reporte diario que se envía a la naviera) en un archivo electrónico
                        para la trasferencia de datos ( por sus siglas en inglés “EDI CODECO D95”) solicitado por las diferentes líneas navieras,

                        •    El sistema estará disponible los 365 dias del año.
                        •    Cuenta con el soporte técnico para el uso de la aplicación en cualquier momento
                        •    Interfaz amigable y sencilla.
                        •    Actualizaciones disponibles todo el año.
                        •    Completa flexibilidad en el uso de los sistemas operativos de su preferencia.

                        Soporte Técnico:
                        Lemuel Rodriguez
                        lrodriguez@mscmexico.com
                        TEL : 5091-3738

                        Nestor Perez
                        nperez@mscmexico.com

                    </pre>
                </td>
            </tr>
        </table>

        <hr>
    </body>
</html>
