<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
    <head>
        <link href="../include/estilo.css" rel="stylesheet" type="text/css">
        <script src="../include/funcionesG.js" language="javascript"></script>
    </head>
    <body>

        <font size="3"><b>EDI-CODECO (Version 1.0.0)</b></font><p>        
        
        Este programa es un convertidor de formato Excel-CSV a formato de EDI-CODECO, y es utilizado para los movimientos Get-In / Get-OUT.<br>
        Por favor seleccione la línea Naviera a la cual desea transmitir la información.<br>
        
        <table border="0" width="100%">
            <tr>	
                <td>
                    <table border="0" cellpadding="4" cellspacing="0">
                        <tr valign="top">	
                            <td>				
                                <table border="0" cellpadding="2" cellspacing="0" width="200">					
                                    <tr class="color1">
                                        <th>Mediterranean Shipping Company</th>
                                    </tr>
                                    <tr class="color2">
                                        <td>                                            
                                            <b>Veracruz</b><p>
                                            <ol type="1">
                                                <li><a href="../actions/ediE.php">Entradas</a></li>
                                                <li><a href="../actions/ediS.php">Salidas</a></li>                                                
                                            </ol>
                                            <br>
                                            <b>Mexico</b><p>
                                            <ol type="1">
                                                <li><a href="../actions/mxEdiE.php">Entradas</a></li>
                                                <li><a href="../actions/mxEdiS.php">Salidas</a></li>                                                
                                            </ol>
                                            <p>
                                            <b>Posicionamientos</b><p>
                                            <ol type="1">                                                
                                                <li><a href="../actions/ediP.php">Posicionamientos</a></li>
                                            </ol>
                                        </td>
                                    </tr>						
                                </table>
                            </td>
                            <td>                
                                <table border="0" cellpadding="2" cellspacing="0" width="200">                    
                                    <tr class="color1">
                                        <th>M O L<br>
                                            ( <font color="white">Bajo Pruebas !!</font> )
                                        </th>
                                    </tr>
                                    <tr class="color2">
                                        <td>                                            
                                            <ol type="1">
                                                <li><a href="../actions/molEdiE.php">Entradas</a></li>
                                                <!-- <li><a href="../actions/molEdiS.php">Salidas</a></li> -->
                                            </ol>

                                            <!--
                                            <b>Veracruz</b><p>
                                            <ol type="1">
                                            <li><a href="../actions/ediE.php">Entradas</a></li>
                                            <li><a href="../actions/ediS.php">Salidas</a></li>                                                
                                            </ol>
                                            <br>
                                            <b>Mexico</b><p>
                                            <ol type="1">
                                            <li><a href="../actions/mxEdiE.php">Entradas</a></li>
                                            <li><a href="../actions/mxEdiS.php">Salidas</a></li>                                                
                                            </ol>
                                            <p>
                                            <b>Posicionamientos</b><p>
                                            <ol type="1">                                                
                                            <li><a href="../actions/ediP.php">Posicionamientos</a></li>
                                            </ol>
                                            -->
                                        </td>
                                    </tr>                        
                                </table>
                            </td>
                        </tr>
                    </table>		
                </td>
            </tr>
        </table>

    </body>
</html>

