

        <br>
        <br><br><br><br>
        <div class="table-responsive">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-border table-hover table-condensed">
                    <tr>
                    <td align="center">                    
                            <span class="glyphicon glyphicon-alert" aria-hidden="true">
                            [ ACCESS DENIED ]</span>
                            <br>
                            AUTHORIZED PERSONNEL ONLY
                        </td>
                    </tr>
                    <tr>	
                        <td align="center">
                            Please enter valid access code<br>
                            <a href="../index.php">Click Here</a>         
                        </td>
                    </tr>
                </table>
            </div>
        </div>


