    
        
        <table class="table table-border table-hover table-condensed">
            <tr>
                <td>                
                    <strong>SOLAS Verified Gross Mass Declaration</strong>
                    <br><br>
                    <table>
                        <tr>
                            <td colspan="2"><center><i>{MENSAJE}</i></center></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Booking Number or Bill of Lading *:
                                <input type="text" name="bkgBl"></input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Weighing Party</h4>
                                <table>
                                    <tr>
                                        <td>Company Name:</td>
                                        <td><input class="form-control" type="text" name="wpCompany"></td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td><input class="form-control" type="text" name="wpAddress"></td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td><input class="form-control" type="text" name="wpLocation"></td>
                                    </tr>
                                    <tr>
                                        <td>Postal Code:</td>
                                        <td><input class="form-control" type="text" name="wpPostalCode"></td>
                                    </tr>
                                    <tr>
                                        <td>Country:</td>
                                        <td><input class="form-control" type="text" name="wpCountry"></td>
                                    </tr>
                                    <tr>
                                        <td>Weighining Date:</td>
                                        <td><input class="form-control" type="text" name="wpWeighDate"></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <h4>Responsible Party</h4>
                                <table>
                                    <tr>
                                        <td>Responsible Party:</td>
                                        <td><input class="form-control" type="text" name="rpResponsiblePary"></td>
                                    </tr>
                                    <tr>
                                        <td>Contact:</td>
                                        <td><input class="form-control" type="text" name="rpContact"></td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td><input class="form-control" type="text" name="rpAddress"></td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td><input class="form-control" type="text" name="rpLocation"></td>
                                    </tr>
                                    <tr>
                                        <td>Postal Code:</td>
                                        <td><input class="form-control" type="text" name="rpPostalCode"></td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td><input class="form-control" type="text" name="rpEmail"></td>
                                    </tr>
                                    <tr>
                                        <td>Phone:</td>
                                        <td><input class="form-control" type="text" name="rpPhone"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>                                            
                            <td>
                                <a class="btn btn-default" href="../masters/EDIFactoryPlantilla.xlsx" role="button">Download Template</a>
                                <a class="btn btn-default" href="#" role="button">Upload Excel</a>

                            </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>


