.text {	
	font-size: 9pt;
	font-style: normal;
	font-family: sans-serif;	
	background-color:#ffffff;
}
input {
	font-size: 9pt;
	font-style: normal;
	font-family: sans-serif;	
}
select {
	font-size: 9pt;
	font-style: normal;
	font-family: sans-serif;		
}
textarea {
	font-size: 9pt;
	font-style: normal;
	font-family: sans-serif;		
}
a:visited {
	color: #2E557D ;
}
a:link {
	color: #2E557D ;
	text-decoration: underline;
}
body {	
	font-family: sans-serif;
	font-size: 10pt;	
	color: #000000;
	background-color: #E7E4D9;	
}
body.carta {
   font-size: 9pt;
	font-family: sans-serif;
	background-color: #E0E4E7  ;
}
pre {
	font-size: 9pt;
	font-family: sans-serif;	
}
td {
	font-size: 9pt;
	font-family: sans-serif;	
}
td.color1{
	font-size: 9pt;
	font-family: sans-serif;
	background-color: #FF9701;
}
td.color2{
	font-size: 9pt;
	font-family: sans-serif;
	background-color: #FFF1D1;
}
tr.color1{
	font-size: 9pt;
	font-family: sans-serif;
	background-color: #FF9701;
}
tr.color2{
	font-size: 9pt;
	font-family: sans-serif;
	background-color: #EFEFEF;
}
tr.color3{
	font-size: 9pt;
	font-family: sans-serif;
	background-color: #cacaca;
}
th {
	font-family: sans-serif;
	font-size: 9pt;
}
b {
	font-family: sans-serif;	
}
p {
	font-family: sans-serif;	
}
h2 {
	color: #000000;
}
h3 {
	color: #2E557D;
}
